* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  min-height: 100vh;
  background: url('../../public/background_login.svg') no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  padding: 10px;
  width: 100%;

  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  color: gray;
  font-weight: bold;
}

footer p {
  font-size: 1rem;
  transform: scale(1);
  transform-origin: '0 0';
}
